*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
.main-header > *{
    margin: 0 5% 0 5%;
}
.container{
    height: 20%;
    font-size: 12px;
    overflow: hidden;
}
.main-header .container nav{
    float: left;
}
.right-header{
    float: right;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
#logo{
    background-image: url('img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 10%;
    float: left;
}
/* #logo{
    height: 40px;
} */
nav{
    height: 100%;
}
ul{
    list-style: none;
}
li{float:left;}
a{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    margin-left: 10px;
}
a:hover{
    border-color: white;
}
.main-header{
    position: relative;
    background-color: #0C325A;
    height: 300px;
    text-transform: uppercase;
    color: white;
}

.hero{
    height: 80%;
    border: 1px solid black;
}
.background{
    position: absolute;
    background-image: url('img/background-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    height: 80%;
    width: 800px;
}











.left > img,article > img, .right > img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.left,.right,article{
    margin-bottom: 20px;
}
.left{
    float: left;
    width: 20%;
    margin-right: 2%;
}
.right{
    float: left;
    width: 20%;
}
article{
    width: 56%;
    float: left;
    margin-right: 2%;
}


footer{

}