*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
.main-header > *{
    margin: 0 5% 0 5%;
}
.container{
    font-size: 12px;
    overflow: hidden;
}
/* .main-header .container nav{
    float: left;
} */
.right-header{
    float: right;
}
.right-header *{
    display: inline-block;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
#logo{
    background-image: url('img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 10%;
    float: left;
}
nav{
}
ul{
    list-style: none;
    width: 50%;
    line-height: 40px;
}
li{
    float:left;
}
a{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    margin-left: 10px;
}
a:hover{
    border-color: white;
}
.main-header{
    background-repeat: no-repeat;
    position: relative;
    background-color: #0C325A;
    text-transform: uppercase;
    color: white;
}

.hero{
    height: 500px;
    border: 1px solid black;
}
.background{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('img/background-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 75%;
}













.left > img,article > img, .right > img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.left,.right,article{
    margin-bottom: 20px;
}
.left{
    float: left;
    width: 20%;
    margin-right: 2%;
}
.right{
    float: left;
    width: 20%;
}
article{
    width: 56%;
    float: left;
    margin-right: 2%;
}


footer{

}