*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
/* PAGE MARGIN*/
.main-header > *,
main .pics{
    margin: 0 5% 0 5%;
    padding-top: 10px;
}
main .graph{
    margin: 0 10% 0 10%;
    padding-top: 10px;
}
/* HEADER*/


.main-header .container{
    font-size: 12px;
    overflow: hidden;
    text-transform: uppercase;
}
.right-header{
    float: right;
}
.right-header *{
    display: inline-block;
}
.right-header div{
    height: 40px;
    line-height: 40px;
}
nav *,.right-header *{
    margin-left: 10px;
}
button{
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
}
#login{
    background-color: transparent;
    padding: 5px 15px;
    border: 1px solid white;
    outline:none;
}
.bt-green{
    padding: 5px 15px;
    background-color: #7CBB02;
    border:none;
}
.bt-biggreen{
    padding: 15px;
    background-color: #7CBB02;
    border:none;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
#logo{
    background-image: url('img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 10%;
    float: left;
}
nav{
}
ul{
    list-style: none;
    width: 50%;
    line-height: 40px;
}
li{
    float:left;
}
a{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    margin-left: 10px;
}
a:hover{
    border-color: white;
}
.main-header{
    background-repeat: no-repeat;
    position: relative;
    background-color: #0C325A;
    color: white;
}
.hero{
    height: 500px;
}
.background{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('img/background-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 75%;
}
.hero-title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hero-title h1{
    margin-bottom: 10px;
}

/* HEADER2 */
.header2{
    position: relative;
    height: 150px;
    text-align: center;
    background-color: #D3D3D3;
}
.header2 > div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header2 > div > *{
    margin: 10px;
}


/* MAIN PT1*/

.left > img,article > img, .right > img{
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.left,.right,article{
    margin-bottom: 20px;
    width: 33.3%;
    float:left;
    text-align: center;
    padding: 30px;
}
.pics h2{
    color: #7CBB02;
}
.pics hr{
    margin: 30px 120px;
}



/* MAIN PT2  */
.graph{
    height: 500px;
}
.graph .container img{
    object-fit: contain;
    height: 200px;
    float: left;
}
footer{

}